.header {
    background-image: url("../static/images/NEWS.png");
    text-align: center;
}

h1{
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 2px black; 
}

h2{
    text-align: center;
    color: black;
    text-shadow: 2px 2px cornflowerblue;
}

p{
    text-align: center;
    color:blue;
}

form {
 text-align: center;
  max-width: 620px;
  margin: auto;
  padding: 10px;
  background: cornflowerblue;
  color: aliceblue;
  border-style: dotted;
  border-color: black;
}
